.ui-datepicker-calendar {
    display: none;
}
.datepicker-months{
	width : 215px;
	height :228px;
}
.datepicker-years{
	width : 225px;
	height :228px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}